.page
{
	background-color: white;
	width: 98%;
	height: 97%;
	min-width: 10cm;
	color: rgb(143, 36, 36);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mydiv{
	position: absolute;
	z-index: 9;
	width: 100px;
	height: 100px;
	top :50px;
	border: none;
	text-align: center;
}

#mydivheader
{
	cursor: move;
	z-index: 10;
	color: #fff;
}

.homeComment
{
	display: block;
	float: left;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
}

.homeComment:hover
{
	font-size: 20px;
}

.homeButtons
{
	display: block;
	float: left;
	width: 220px;
	padding: 10px;
	text-align: center;
	background-color: rgb(160, 160, 160);
	text-decoration: none;
}

.cropper {
    display: block;
    width: 100%;
    height: 100%;
    border: dotted 3px #f0f0f0;
    font-size: 27px;
    color: #888;
    text-align: center;
    position: relative;
}

.stickers-parent {
    width: 20%;
    float: left;
    margin-left: 15px;
    height: auto;
    min-height: 200px;
    max-height: 80%;
    overflow-y: auto;
}

.stickers-parent ul
{
	list-style-type: none; 
}

.stickers-parent img
{
	width: 100px;
	height: 100px;
}

.editor
{
	display: none;
	height: 100%;
	width: 100%
}

.ctx-parent
{
	width: 50%;
	float: left;
	margin-left: 15px;
	height: 80%;
	background: #fbfbfb;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.bl
{
	padding: 15px 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.comment-space
{
	position: relative;
	background-color: white;
	border : solid black;
	left : 20%;	
	width: 60%;
	overflow: scroll;
	height:80%;
}

.com-text
{
	text-align: left;
}

.booth
{
	position: fixed;
	width: 29.5%;
	height: inherit;
	left: inherit;
	top: inherit;
	margin: 4px 2px 4px 2px;
	margin: 0 auto;
	bottom: 0;
	text-align: center;
}

.container
{
	position: fixed;
	color: rgb(143, 36, 36);
	width: inherit;
	padding: 10px 0 10px 10px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-radius: 30px;
}

.container nav {
	position:relative;
	color: black;
	text-align: right;
	font-size: 120%;
	width: 50%;
	left: 0%;
	/*border: 1px solid black;*/
}

.container ul
{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container li
{
	float: left;
}

.container ul li a
{
	text-decoration: none;
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px;
	color: brown;
}

li a:hover {
  background-color: grey;
}

.camera-area
{
	position: fixed;
	top:15%;
	left: 15%;
	width: 70%;
	padding: 2px;
	height: 70%;
	text-align: center;
}

div.playground img
{
	width: 100%;
	height: 90%;
}

.content
{
	position: fixed;
	left:10%;
	top:10%;
	height: 70%;
	width: 60%;
	min-width: 400px;
	overflow-x: hidden;
	/*border: 1px solid black;*/
}

div.content legend 
{
	font-size: 20pt;
}

div.content fieldset
{
	position: relative;
	width: 60%;
	/*border-color: rgb(160, 160, 160);*/
	border-top: none;
	border-width: 0.5px;
	border-radius: 20px;
	border-left-color: rgb(143, 36, 36); 
	border-right-color: rgb(143, 36, 36);
	border-bottom:none;
	left: 35%;
	top: 10%;
}

div.content form
{
	font-size: 15pt;
}

div.footer
{
	position:fixed;
	color: rgb(143, 36, 36);
	width: inherit;
	padding: 30px 0px 10px 10px;
	bottom: 4%;
	border-radius: 30px;
	border-top-style: solid;
	border-top-width: 2px;
}


div.content form input, div.comment-space form input
{
	font-size: inherit;
	width: 100%;
	border-top-style: none;
	border-bottom-style: dotted;
	border-right-style: none;
	background-color: inherit;
	border-color: bisque;
	margin-top: 10px;
	color: grey;
	padding: 5px 0px 0 0;
	border-left-style: none;
}

div.content form input[type="submit"], div.comment-space form input[type="submit"]
 
{
	background-color: bisque;
	border: 1px solid black;
	border-radius: 6px;
	border-left-color: rgb(143, 36, 36);
	border-left-style: solid;
	border-right-color:  rgb(143, 36, 36);
	border-right-style: solid;
	font-weight: 700;
	color: rgb(143, 36, 36);
	padding: 5px 0px 5px 0;
}


div.content form input[type="submit"]:hover
{
	background-color: grey;
}

.vid
{
	height: 80%;
	width: 100%;
	right: 0;
}

img.sticker
{
	z-index: 1;
	position:absolute;
}

.booth-button 
{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: rgb(160, 160, 160);
	text-align: center;
	text-decoration: none;
}

.playground {
	position: fixed;
	left: 45%;
	bottom: 0;
	margin: 4px 2px 4px 2px;
	top: inherit;
	height: inherit;
	width: 40%;
	right: 200px;
  }

.postview
{
	float:left;
	width: 60%;
}

.postview img
{
	width: 480px;
	float: left;
	display: block;
	height: 400px;
}
